<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114580263138-giah64g15fmt8duqmfobr22qnhrophe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114580263138-giah64g15fmt8duqmfobr22qnhrophe6</string>
	<key>API_KEY</key>
	<string>AIzaSyD_yHY9Shwoz-rFQrl04Qgjf5yG79IsxbU</string>
	<key>GCM_SENDER_ID</key>
	<string>114580263138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.subliminal</string>
	<key>PROJECT_ID</key>
	<string>subliminal-298203</string>
	<key>STORAGE_BUCKET</key>
	<string>subliminal-298203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114580263138:ios:308b4450760c19a74c8ebb</string>
</dict>
</plist>